# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectivies**
- List popular data science languages 
- List some data science libraries 
- List some developmet environment tools used in data science 
- Creating basic tables in jupyter notebook
- Perform arithmetric operations in jupyter notebook

### Data sceince languages 
1. R
2. Python
3. C++

### Data science libraries 
- Numpy
- Pandas
- Scikit-learn
- Keras
- Tensorflow

### Development environment tools
| Data science tools|
|-------------------|
|Prediction IO|
|Tenserflow|
|Model DB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4) + 5
# This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
Hours=200/60
print(Hours)

3.3333333333333335

## Author
Behene Eric